.btn-submit{
    position: relative;
    left: 80%;
    right: 0;
    
}

.btn-success{
    position: relative;
    left: 98%;
    right: 0; 
}

.btn-danger{
    position: relative;
    left: 98%;
    right: 0;

}